<h3 style="color: #f58a4b; font-weight: bold; background-image: url("../public/images/background.jpg");"> Welcome To eLearn </h3>
	<p 
	style=" color: #ffffff; font-size: large; 
			margin-top: 20px;
 			margin-bottom: 20px;
  		   	margin-right: 180px;
  		   	margin-left: 0px;">
	eLearn is a simple and free online learning platform. Instructors can create courses and students can register for courses which include assignments, quizes and support forums.
	</p>
	<a class="button" href="/users/register" style="font-weight: bold">Sign Up Free</a>
	<P style="color: #ffffff; font-size: large">You need to signup to register for free classes</p>
